@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f7e6da;
  --foreground: #1f1f1f;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .container {
    @apply mx-auto px-md 2xl:max-w-screen-2xl;
  }
}
